* {
    background-color: rgb(104, 156, 156);
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .container{
 justify-content: center;
 margin: 40px;
} */
section{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
/* Header */
header{
    height: 120px;
    width: 100%;
    border-bottom: solid 2px black;
}
header nav{
display: flex;
}
header ul{
display: flex;
margin-top: 40px;
font-size: 18px;
}
header nav a{
    text-decoration: none;
    color: black;
    margin: 45px;
}
header nav li{
    text-decoration: none;
    list-style: none;
    margin-left:0px;
    margin-top: 40px;
    font-size: 25px;
    margin-right: 400px;
}
 header nav img{
    max-width: 200px;
    height: 75px;
    margin-left: 20px;
}
/* end header */
/*footer*/
footer{
    background-color: rgb(104, 156, 156);
    width: 100%;
    color: #fff;
    padding: 60px 0;
}
hr{
    color: black;
}

footer .container{
    display: flex;
    align-content: center;
}

footer .container .column{
    margin-right: 120px;
}

footer .container .column p{
    margin: 10px 0;
}

footer .container .column ul{
    padding: 0;
    list-style: none;
}

footer .container .column li a{
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
}
/*end footer*/
/* inlog */
.page{
    width: 1510px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.inloggen{
    margin-top: 10px;
    width: 1510px;
    justify-content: center;
    display: block;
}